<a href="https://colab.research.google.com/github/tung1803/AI/blob/main/Tuan4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
thoigian = datetime.datetime.now()
print(thoigian)

2022-03-11 06:52:04.494348

In [ ]:
from datetime import date
today = date.today()
print('Hôm nay là ngày',today.day,'thang',today.month,'năm',today.year)

Hôm nay là ngày 11 thang 3 năm 2022

In [ ]:
import time
thoigian = time.localtime(time.time())
print(thoigian)

time.struct_time(tm_year=2022, tm_mon=3, tm_mday=11, tm_hour=6, tm_min=56, tm_sec=54, tm_wday=4, tm_yday=70, tm_isdst=0)

In [ ]:
import calendar
cal = calendar.month(2000,3)
print('lịch tháng năm sinh của Tùng')
print(cal)
calendar.calendar(2000,w=2,l=1,c=6)
calendar.isleap(2022) #Có phải năm nhuận hay không
calendar.leapdays(1990,2022) #Có bao nhiêu năm nhuận
calendar.monthcalendar(2022,4) #Lịch tháng 4 nhưng không hiện thứ

lịch tháng năm sinh của Tùng
     March 2000
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

[[0, 0, 0, 0, 1, 2, 3],
 [4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17],
 [18, 19, 20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29, 30, 0]]

In [ ]:
import calendar
C = calendar.TextCalendar(calendar.SUNDAY)
str = C.formatmonth(2023,1)
print(str)

    January 2023
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

1

In [ ]:
calendar.weekday(2023,2,14) # Ngày thứ bao nhiêu (số 1 là thứ 3)

6

In [ ]:
import pandas as pd
import numpy as np
time = pd.date_range('01/01/2022',periods = 100000000,freq = '30s')
DataFrame =pd.DataFrame(index = time)
DataFrame.head(20)
DataFrame['Access Amount'] = np.random.randint(0,10,100000000)
DataFrame.resample('y').sum()

            Access Amount
2022-12-31        4727902
2023-12-31        4730212
2024-12-31        4743555
2025-12-31        4730112
2026-12-31        4728396
...                   ...
2113-12-31        4730373
2114-12-31        4726429
2115-12-31        4729341
2116-12-31        4742760
2117-12-31         314884

[96 rows x 1 columns]